

<div class="banner" style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('https://images.unsplash.com/photo-1543536448-d209d2d13a1c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fG1vdmllc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60')">
  <div class="container">
    <h2><strong> Save Your Watch List</strong></h2>
  </div>
</div>



<div class="container">
<div style="display:flex; justify-content:space-between">
<h3>My Lists</h3>
<%= link_to "Create List", new_list_path, class:"btn btn-ghost"%>
</div>
<div class="cards">
  <% @lists.each do |list| %>
  <div class="card-list" style="background-image: url(<%=list.poster_url%>)">
    <%= link_to list.name, list_path(list), style:"color:white; text-decoration:none;" %>
    <%= link_to "x",  list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"card-remove-link"%>
  </div>
  <% end %>
</div>
</div>
